<div class="faceit">
  <img id="img1" onload="fadeImage();">
  <img id="img2" onload="fadeImage();">
</div>

<script language="javascript">

var imgidx = 0;
var imgtoggle = false;

// Images for our "slideshow"
var images = [
	'https://i.imgur.com/Jmhcl8x.png',
	'https://i.imgur.com/vNJ7Zer.png',
	'https://i.imgur.com/NqAEgdc.png',
	'https://i.imgur.com/HO3Er5f.png',
	'https://i.imgur.com/IlZXF5p.png',
	'https://i.imgur.com/7rQbe1B.png',
	'https://i.imgur.com/REtNTPr.png',
	'https://i.imgur.com/5NPHK9y.png',
	'https://i.imgur.com/lFa6w1X.png',
];

// This function will initialize loading the next image in background
window.nextImage = function() {
  imgtoggle = !imgtoggle;

  imgidx = (imgidx + 1) % images.length;

  if (imgtoggle)
    document.getElementById('img2').src = images[imgidx];
  else
    document.getElementById('img1').src = images[imgidx];
};

// This function will trigger the crossfade and then start the timer for the next switch
window.fadeImage = function() {
  if (imgtoggle)
    document.getElementById('img2').style.opacity = '1.0';
  else
    document.getElementById('img2').style.opacity = '0.0';
  window.setTimeout(nextImage, 1750);
};

var preload=new Array();

for (n=0;n<images.length;n++)
{
	preload[n]=new Image();
	preload[n].src=images[n];
}

// Now load our very first image to start the slideshow
document.getElementById('img1').src = images[Math.floor(Math.random()*(images.length))];

</script>