<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">

  <title>{{ site.label }}</title>

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <link rel="icon" sizes="144x144" href="{{ '/assets/logo.jpg' | relative_url }}" type="image/jpg">
  <link rel="shortcut icon" sizes="144x144" href="{{ '/assets/favicon.png' | relative_url }}" type="image/png">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{'feed.rss' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.label }}" href="{{ 'atom.xml' | relative_url }}">

  <!-- OG Data -->
  <meta property="og:image" content="/_assets/undrawdotco-18.png">
  <meta property="og:description" content="Observations and Obsessions.">
  <meta property="og:type" content="blog">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.label }}">
  <meta name="twitter:title" content="{{ site.label }}">
  <meta name="twitter:description" content="Observations and Obsessions.">
  <meta name="twitter:creator" content="@nashp">
  <meta name="twitter:image" content="/assets/logo.jpg">

  {% seo title=false %}
</head>