<h1 id="now">Now</h1>
<h2 id="march-13th-2025">March 13th, 2025</h2>
<p>Building inside of OmniFocus. Preparing for our new babies. Working at the local hospital. Waking up at 4 am to run and lift. Playing basketball once a week.</p>
<hr>
<h2 id="march-5th-2025">March 5th, 2025</h2>
<p>Building inside of OmniFocus. Preparing for our new babies. Adding a huge room to our house for the kids. Working at the local hospital. Playing basketball twice a week.</p>
<hr>
<h2 id="february-7th-2025">February 7th, 2025</h2>
<p>Daily <a href="https://www.twitch.tv/nashptv">gamer</a>. Making <a href="https://nashp.com/music">music</a> again. Working at our local hospital. Playing basketball twice a week. Being a dad to a little <a href="https://nashp.com/135">girl</a>. Preparing for our new babies.</p>
<hr>
<h2 id="january-29th-2025">January 29th, 2025</h2>
<p>Daily <a href="https://www.twitch.tv/nashptv">gamer</a>. Making <a href="https://nashp.com/music">music</a> again. Working at our local hospital. Playing basketball twice a week. Being a dad to a little girl. Preparing for our new baby.</p>
<hr>
<h2 id="january-17th-2025">January 17th, 2025</h2>
<p>Daily gamer. Working at our local hospital. Playing basketball twice a week. Being a dad to a little girl. Preparing for our new baby.</p>
<hr>
<h2 id="november-12th-2024">November 12th, 2024</h2>
<p>Writing a <a href="https://nashp.com/mc">newsletter</a> every Monday. Playing basketball a few times a week. A <a href="https://nashp.com/83">dad</a> to a little girl. She just turned <a href="https://nashp.com/135">three</a>. Doing <a href="https://nashp.com/130">tech support</a> for our local <a href="https://nashp.com/131">hospital</a>.</p>
<hr>
<h2 id="october-13th-2024">October 13th, 2024</h2>
<p>Writing a <a href="https://nashp.com/mc">newsletter</a> every Monday. Playing basketball a few times a week. A <a href="https://nashp.com/83">dad</a> to a little girl. Doing <a href="https://nashp.com/130">tech support</a> for our local <a href="https://nashp.com/131">hospital</a>.</p>
