<div class="topnav">
  <div class="topnav__content">
    <nav>
      <ul id="navigation" class="links slimmenu">
        <li class="site__name">{{ site.title }}</li>
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = site.url | append: site.baseurl %}
          {% endif %}
          <li class="menu-item">
            <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            {% if link.children %}
              <ul>
                {% for child in link.children %}
                  {% if child.url contains 'http' %}
                    {% assign domain = '' %}
                  {% else %}
                    {% assign domain = site.url | append: site.baseurl %}
                  {% endif %}
                  <li><a href="{{domain }}{{child.url}}">{{ child.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>