// Custom CSS Elements
//

.video {
  width: 100%;
  height: 0px;
  position: relative;
  padding-bottom: 56.250%;
  margin-bottom: 1rem;
}

.video iframe, .video object {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.journal li {
  list-style-type: none;
  margin: 1rem 0;
}