// Custom CSS
//
// Dark Mode (mostly)


/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #F8F9F8;
    background: #222;
  }
  h1, h2, h3, h4, h5, h6 {
  	color: #479db1;
  }
  a {
  	color: #F8F9F8;
  }
  img {
    filter: brightness(50%);
  }
  img:hover {
    filter: brightness(100%);
  }
  .masthead img{
	  filter: brightness(100%);
  }
  strong {
	  color: #F8F9F8;
  }
}